#root {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    --ds-shadow-border: 0 0 0 1px rgba(0,0,0,0.08);
    --ds-shadow-small: 0px 1px 2px rgba(0,0,0,0.04);
    --ds-shadow-border-small: var(--ds-shadow-border),var(--ds-shadow-small);
    --ds-shadow-medium: 0px 2px 2px rgba(0,0,0,0.04),0px 8px 8px -8px rgba(0,0,0,0.04);
    --ds-shadow-border-medium: var(--ds-shadow-border),var(--ds-shadow-medium);
    --ds-shadow-large: 0px 2px 2px rgba(0,0,0,0.04),0px 8px 16px -4px rgba(0,0,0,0.04);
    --ds-shadow-border-large: var(--ds-shadow-border),var(--ds-shadow-large);
    --ds-shadow-tooltip: var(--ds-shadow-border),0px 1px 1px rgba(0,0,0,0.02),0px 4px 8px rgba(0,0,0,0.04);
    --ds-shadow-menu: var(--ds-shadow-border),0px 1px 1px rgba(0,0,0,0.02),0px 4px 8px -4px rgba(0,0,0,0.04),0px 16px 24px -8px rgba(0,0,0,0.06);
    --ds-shadow-modal: var(--ds-shadow-border),0px 1px 1px rgba(0,0,0,0.02),0px 8px 16px -4px rgba(0,0,0,0.04),0px 24px 32px -8px rgba(0,0,0,0.06);
    --ds-shadow-fullscreen: var(--ds-shadow-border),0px 1px 1px rgba(0,0,0,0.02),0px 8px 16px -4px rgba(0,0,0,0.04),0px 24px 32px -8px rgba(0,0,0,0.06);
    --scn-radius: 0.5rem;
    --scn-background: 240 10% 3.9%;
    --scn-foreground: 0 0% 98%;
    --scn-muted: 240 3.7% 15.9%;
    --scn-muted-foreground: 240 5% 64.9%;
    --scn-card: 240 10% 3.9%;
    --scn-card-foreground: 0 0% 98%;
    --scn-popover: 240 10% 3.9%;
    --scn-popover-foreground: 0 0% 98%;
    --scn-border: 240 3.7% 15.9%;
    --scn-input: 240 3.7% 15.9%;
    --scn-primary: 0 0% 98%;
    --scn-primary-foreground: 240 5.9% 10%;
    --scn-secondary: 240 3.7% 15.9%;
    --scn-secondary-foreground: 0 0% 98%;
    --scn-accent: 240 3.7% 15.9%;
    --scn-accent-foreground: ;
    --scn-destructive: 0 62.8% 30.6%;
    --scn-destructive-foreground: 0 85.7% 97.3%;
    --scn-warning: 35,100%,52%;
    --scn-warning-foreground: 0 0% 9%;
    --scn-ring: 240 3.7% 15.9%;
    --scn-chart-1: 220 70% 50%;
    --scn-chart-2: 160 60% 45%;
    --scn-chart-3: 30 80% 55%;
    --scn-chart-4: 280 65% 60%;
    --scn-chart-5: 340 75% 55%;
    --scn-sidebar-background: 240 5.9% 10%;
    --scn-sidebar-foreground: 240 4.8% 95.9%;
    --scn-sidebar-primary: 224.3 76.3% 48%;
    --scn-sidebar-primary-foreground: 0 0% 100%;
    --scn-sidebar-accent: 240 3.7% 15.9%;
    --scn-sidebar-accent-foreground: 240 4.8% 95.9%;
    --scn-sidebar-border: 240 3.7% 15.9%;
    --scn-sidebar-ring: 240 4.9% 83.9%;
    --radius: .5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --warning: 35, 100%, 52%;
    --warning-foreground: 0 0% 9%;
    --ring: 240 3.7% 15.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
    --font-sans: __variable_3a0388;
    --font-mono: __variable_c1e5c9;
    color-scheme: dark;
    line-height: inherit;
    font-feature-settings: "rlig" 1,"calt" 1;
    color: hsl(var(--foreground));
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-family: 'Inter';
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    position: relative;
    z-index: 10;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity, 1));
}